venv/

__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/
.vscode/

oldstuff/
testing/

data/
dataset/raw/

mlruns/
mlartifacts/
minio_data/
pgdata/

randomGeminiConv.txt

testing-kafka/

src/serve_model_randomForest_lag/
src/serve_model_randomForest_nolag/
src/serve_model_svr_lag/
src/serve_model_svr_nolag/
src/serve_model_xgb_lag/
src/serve_model_xgb_nolag/


